{
  "openapi": "3.1.0",
  "info": {
    "title": "Lettr API",
    "version": "1.0.0",
    "description": "Lettr Email API - Send transactional emails with tracking, attachments, and personalization.",
    "contact": {
      "name": "Lettr Support",
      "url": "https://lettr.com"
    }
  },
  "servers": [
    {
      "url": "https://app.lettr.com/api",
      "description": "Production"
    }
  ],
  "paths": {
    "/emails": {
      "get": {
        "operationId": "listEmails",
        "summary": "List Sent Emails",
        "description": "Retrieve a list of sent emails (injection events) for the authenticated account. Results are paginated using cursor-based pagination.",
        "tags": ["Emails"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of results per page (1-100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor from previous response",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipients",
            "in": "query",
            "description": "Filter by recipient email address",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Filter emails sent on or after this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Filter emails sent on or before this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of sent emails",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEmailsResponse"
                },
                "example": {
                  "message": "Emails retrieved successfully.",
                  "data": {
                    "results": [
                      {
                        "event_id": "abc123",
                        "timestamp": "2024-01-15T10:30:00.000Z",
                        "request_id": "trans-456",
                        "message_id": "msg-789",
                        "subject": "Welcome to Lettr",
                        "friendly_from": "sender@example.com",
                        "sending_domain": "example.com",
                        "rcpt_to": "recipient@example.com",
                        "raw_rcpt_to": "recipient@example.com",
                        "recipient_domain": "example.com",
                        "mailbox_provider": "gmail",
                        "mailbox_provider_region": "us",
                        "sending_ip": "192.168.1.1",
                        "click_tracking": true,
                        "open_tracking": true,
                        "transactional": true,
                        "msg_size": 1024,
                        "injection_time": "2024-01-15T10:30:00.000Z",
                        "rcpt_meta": {}
                      }
                    ],
                    "total_count": 1,
                    "pagination": {
                      "next_cursor": null,
                      "per_page": 25
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Failed to retrieve emails. Please try again later.",
                  "error_code": "send_error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "sendEmail",
        "summary": "Send Email",
        "description": "Send a transactional email with optional attachments, tracking, and personalization. At least one of `html` or `text` content must be provided.",
        "tags": ["Emails"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmailRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal request (required fields only)",
                  "description": "The absolute minimum required to send an email: from, to, subject, and either html or text content.",
                  "value": {
                    "from": "sender@example.com",
                    "to": ["recipient@example.com"],
                    "subject": "Hello",
                    "html": "<p>Hello!</p>"
                  }
                },
                "html-and-text": {
                  "summary": "HTML and plain text (recommended)",
                  "description": "Sending both HTML and plain text ensures email renders correctly in all email clients.",
                  "value": {
                    "from": "sender@example.com",
                    "from_name": "Sender Name",
                    "to": ["recipient@example.com"],
                    "subject": "Welcome to Lettr",
                    "html": "<h1>Hello</h1><p>Welcome to our service!</p>",
                    "text": "Hello\n\nWelcome to our service!",
                    "options": {
                      "click_tracking": true,
                      "open_tracking": true
                    }
                  }
                },
                "html-only": {
                  "summary": "HTML only",
                  "description": "Send HTML content only. Some email clients may not render properly without a text fallback.",
                  "value": {
                    "from": "sender@example.com",
                    "to": ["recipient@example.com"],
                    "subject": "Welcome to Lettr",
                    "html": "<h1>Hello</h1><p>Welcome to our service!</p>"
                  }
                },
                "text-only": {
                  "summary": "Plain text only",
                  "description": "Send plain text content only. Ideal for simple notifications.",
                  "value": {
                    "from": "sender@example.com",
                    "to": ["recipient@example.com"],
                    "subject": "Order Confirmation",
                    "text": "Your order #12345 has been confirmed.\n\nThank you for your purchase!"
                  }
                },
                "with-attachments": {
                  "summary": "Email with attachments",
                  "description": "Send an email with file attachments. Attachments must be base64 encoded.",
                  "value": {
                    "from": "billing@example.com",
                    "from_name": "Billing Department",
                    "to": ["customer@example.com"],
                    "subject": "Your Invoice",
                    "html": "<p>Please find your invoice attached.</p>",
                    "text": "Please find your invoice attached.",
                    "attachments": [
                      {
                        "name": "invoice.pdf",
                        "type": "application/pdf",
                        "data": "JVBERi0xLjQKJeLjz9M..."
                      }
                    ]
                  }
                },
                "with-personalization": {
                  "summary": "Personalized email with substitution",
                  "description": "Use substitution_data to personalize email content with dynamic variables.",
                  "value": {
                    "from": "hello@example.com",
                    "from_name": "Acme Inc",
                    "to": ["john@example.com"],
                    "subject": "Welcome, {{first_name}}!",
                    "html": "<h1>Hello {{first_name}}</h1><p>Welcome to {{company}}!</p>",
                    "text": "Hello {{first_name}},\n\nWelcome to {{company}}!",
                    "substitution_data": {
                      "first_name": "John",
                      "company": "Acme Inc"
                    },
                    "metadata": {
                      "user_id": "12345",
                      "campaign": "onboarding"
                    }
                  }
                },
                "with-template": {
                  "summary": "Email using a template",
                  "description": "Send an email using a pre-defined template. The template's HTML content will be used.",
                  "value": {
                    "from": "hello@example.com",
                    "to": ["john@example.com"],
                    "subject": "Welcome!",
                    "template_slug": "welcome-email",
                    "substitution_data": {
                      "first_name": "John"
                    }
                  }
                },
                "with-template-and-project": {
                  "summary": "Email using a template from a specific project",
                  "description": "Send an email using a template from a specific project with a specific version.",
                  "value": {
                    "from": "hello@example.com",
                    "to": ["john@example.com"],
                    "subject": "Welcome!",
                    "project_id": 123,
                    "template_slug": "welcome-email",
                    "template_version": 2,
                    "substitution_data": {
                      "first_name": "John"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email queued for delivery",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendEmailSuccessResponse"
                },
                "example": {
                  "message": "Email queued for delivery.",
                  "data": {
                    "request_id": "12345678901234567890",
                    "accepted": 1,
                    "rejected": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to send email (domain errors)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_domain": {
                    "summary": "Invalid sender domain",
                    "value": {
                      "message": "The sender domain could not be determined from the email address.",
                      "error_code": "invalid_domain"
                    }
                  },
                  "unconfigured_domain": {
                    "summary": "Unconfigured sender domain",
                    "value": {
                      "message": "The sender domain is not configured or approved for sending.",
                      "error_code": "unconfigured_domain"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Template or project not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "template_not_found": {
                    "summary": "Template not found",
                    "value": {
                      "message": "Template with slug 'welcome-email' was not found.",
                      "error_code": "template_not_found"
                    }
                  },
                  "project_not_found": {
                    "summary": "Project not found",
                    "value": {
                      "message": "Project with ID '123' was not found or you don't have access to it.",
                      "error_code": "template_not_found"
                    }
                  },
                  "no_default_project": {
                    "summary": "No default project configured",
                    "value": {
                      "message": "No default project is configured for this team.",
                      "error_code": "template_not_found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "example": {
                  "message": "Validation failed.",
                  "error_code": "validation_error",
                  "errors": {
                    "from": ["The sender email address is required."],
                    "to": ["At least one recipient email address is required."]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Failed to send email. Please try again later.",
                  "error_code": "send_error"
                }
              }
            }
          },
          "502": {
            "description": "Email transmission failed (upstream provider error)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Unconfigured Sending Domain <sender.example.com>",
                  "error_code": "transmission_failed"
                }
              }
            }
          }
        }
      }
    },
    "/emails/{requestId}": {
      "get": {
        "operationId": "getEmail",
        "summary": "Get Email Details",
        "description": "Retrieve all events associated with a specific email transmission, including injection, delivery, bounce, and open events.",
        "tags": ["Emails"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "required": true,
            "description": "The request_id (transmission ID) returned when sending the email",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Email events retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEmailResponse"
                },
                "example": {
                  "message": "Email retrieved successfully.",
                  "data": {
                    "results": [
                      {
                        "event_id": "event-123",
                        "type": "injection",
                        "timestamp": "2024-01-15T10:30:00.000Z",
                        "request_id": "trans-456",
                        "message_id": "msg-789",
                        "subject": "Welcome to Lettr",
                        "friendly_from": "sender@example.com",
                        "sending_domain": "example.com",
                        "rcpt_to": "recipient@example.com",
                        "raw_rcpt_to": "recipient@example.com",
                        "recipient_domain": "example.com",
                        "mailbox_provider": "gmail",
                        "mailbox_provider_region": "us",
                        "sending_ip": "192.168.1.1",
                        "click_tracking": true,
                        "open_tracking": true,
                        "transactional": true,
                        "msg_size": 1024,
                        "injection_time": "2024-01-15T10:30:00.000Z",
                        "reason": null,
                        "raw_reason": null,
                        "error_code": null,
                        "rcpt_meta": {}
                      },
                      {
                        "event_id": "event-124",
                        "type": "delivery",
                        "timestamp": "2024-01-15T10:30:05.000Z",
                        "request_id": "trans-456",
                        "message_id": "msg-789",
                        "subject": "Welcome to Lettr",
                        "friendly_from": "sender@example.com",
                        "sending_domain": "example.com",
                        "rcpt_to": "recipient@example.com",
                        "raw_rcpt_to": "recipient@example.com",
                        "recipient_domain": "example.com",
                        "mailbox_provider": "gmail",
                        "mailbox_provider_region": "us",
                        "sending_ip": "192.168.1.1",
                        "click_tracking": true,
                        "open_tracking": true,
                        "transactional": true,
                        "msg_size": 1024,
                        "injection_time": "2024-01-15T10:30:00.000Z",
                        "reason": null,
                        "raw_reason": null,
                        "error_code": null,
                        "rcpt_meta": {}
                      }
                    ],
                    "total_count": 2
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Email not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Email not found.",
                  "error_code": "not_found"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Failed to retrieve email. Please try again later.",
                  "error_code": "send_error"
                }
              }
            }
          }
        }
      }
    },
    "/domains": {
      "get": {
        "operationId": "listDomains",
        "summary": "List Domains",
        "description": "Retrieve all sending domains registered with your account. Returns domains with their current status, verification state, and timestamps.",
        "tags": ["Domains"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of domains retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDomainsResponse"
                },
                "example": {
                  "message": "Domains retrieved successfully.",
                  "data": {
                    "domains": [
                      {
                        "domain": "example.com",
                        "status": "approved",
                        "status_label": "Approved",
                        "can_send": true,
                        "cname_status": "valid",
                        "dkim_status": "valid",
                        "created_at": "2024-01-15T10:30:00+00:00",
                        "updated_at": "2024-01-16T14:45:00+00:00"
                      },
                      {
                        "domain": "pending.example.com",
                        "status": "pending",
                        "status_label": "Pending Review",
                        "can_send": false,
                        "cname_status": null,
                        "dkim_status": null,
                        "created_at": "2024-01-17T09:00:00+00:00",
                        "updated_at": "2024-01-17T09:00:00+00:00"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "description": "Server error - Failed to retrieve domains",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Failed to retrieve domains. Please try again later.",
                  "error_code": "send_error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createDomain",
        "summary": "Create Domain",
        "description": "Register a new sending domain with your account. The domain will be created with SparkPost and stored in a pending state until it's verified and approved.",
        "tags": ["Domains"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreDomainRequest"
              },
              "example": {
                "domain": "example.com"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Domain created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreDomainResponse"
                },
                "example": {
                  "message": "Domain created successfully.",
                  "data": {
                    "domain": "example.com",
                    "status": "pending",
                    "status_label": "Pending Review",
                    "dkim": {
                      "public": "MIGfMA0GCSqGSIb3DQEBA...",
                      "selector": "scph0123",
                      "headers": "from:to:subject:date"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "409": {
            "description": "Conflict - Domain already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "This domain is already registered.",
                  "error_code": "resource_already_exists"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "example": {
                  "message": "Validation failed.",
                  "error_code": "validation_error",
                  "errors": {
                    "domain": ["The domain must be a valid domain name (e.g., example.com)."]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error - Failed to create domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "We could not register your domain. Please try again later.",
                  "error_code": "send_error"
                }
              }
            }
          }
        }
      }
    },
    "/domains/{domain}": {
      "get": {
        "operationId": "showDomain",
        "summary": "Get Domain",
        "description": "Retrieve details of a single sending domain including DNS records and tracking domain configuration.",
        "tags": ["Domains"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The domain name to retrieve",
            "schema": {
              "type": "string",
              "example": "example.com"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowDomainResponse"
                },
                "example": {
                  "message": "Domain retrieved successfully.",
                  "data": {
                    "domain": "example.com",
                    "status": "approved",
                    "status_label": "Approved",
                    "can_send": true,
                    "cname_status": "valid",
                    "dkim_status": "valid",
                    "tracking_domain": "tracking.example.com",
                    "dns": {
                      "dkim": {
                        "selector": "scph0123",
                        "public": "MIGfMA0GCSqGSIb3DQEBA..."
                      }
                    },
                    "created_at": "2024-01-15T10:30:00+00:00",
                    "updated_at": "2024-01-16T14:45:00+00:00"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Domain not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Domain not found.",
                  "error_code": "not_found"
                }
              }
            }
          },
          "500": {
            "description": "Server error - Failed to retrieve domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Failed to retrieve domain. Please try again later.",
                  "error_code": "send_error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteDomain",
        "summary": "Delete Domain",
        "description": "Delete a sending domain. This removes the domain from both SparkPost and the Lettr system. The domain will no longer be available for sending emails.",
        "tags": ["Domains"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The domain name to delete",
            "schema": {
              "type": "string",
              "example": "example.com"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Domain deleted successfully"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Domain not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Domain not found.",
                  "error_code": "not_found"
                }
              }
            }
          },
          "422": {
            "description": "Validation error - Invalid domain format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "example": {
                  "message": "Validation failed.",
                  "error_code": "validation_error",
                  "errors": {
                    "domain": ["The domain must be a valid domain name (e.g., example.com)."]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error - Failed to delete domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Failed to delete domain. Please try again later.",
                  "error_code": "send_error"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List Webhooks",
        "description": "Retrieve all webhooks configured for your account. Returns webhooks with their current status, event types, and delivery information.",
        "tags": ["Webhooks"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhooks retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWebhooksResponse"
                },
                "example": {
                  "message": "Webhooks retrieved successfully.",
                  "data": {
                    "webhooks": [
                      {
                        "id": "webhook-abc123",
                        "name": "Order Notifications",
                        "url": "https://example.com/webhook",
                        "enabled": true,
                        "event_types": ["message.delivery", "message.bounce"],
                        "auth_type": "basic",
                        "has_auth_credentials": true,
                        "last_successful_at": "2024-01-15T10:30:00+00:00",
                        "last_failure_at": null,
                        "last_status": "success"
                      },
                      {
                        "id": "webhook-def456",
                        "name": "Support Notifications",
                        "url": "https://example.com/support-webhook",
                        "enabled": false,
                        "event_types": null,
                        "auth_type": "none",
                        "has_auth_credentials": false,
                        "last_successful_at": null,
                        "last_failure_at": "2024-01-14T08:00:00+00:00",
                        "last_status": "failure"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "description": "Server error - Failed to retrieve webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Failed to retrieve webhooks. Please try again later.",
                  "error_code": "send_error"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{webhookId}": {
      "get": {
        "operationId": "showWebhook",
        "summary": "Get Webhook",
        "description": "Retrieve details of a single webhook including its status, event types, and delivery information.",
        "tags": ["Webhooks"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "description": "The webhook ID to retrieve",
            "schema": {
              "type": "string",
              "example": "webhook-abc123"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowWebhookResponse"
                },
                "example": {
                  "message": "Webhook retrieved successfully.",
                  "data": {
                    "id": "webhook-abc123",
                    "name": "Order Notifications",
                    "url": "https://example.com/webhook",
                    "enabled": true,
                    "event_types": ["message.delivery", "message.bounce"],
                    "auth_type": "basic",
                    "has_auth_credentials": true,
                    "last_successful_at": "2024-01-15T10:30:00+00:00",
                    "last_failure_at": null,
                    "last_status": "success"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Webhook not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Webhook not found.",
                  "error_code": "not_found"
                }
              }
            }
          },
          "500": {
            "description": "Server error - Failed to retrieve webhook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Failed to retrieve webhook. Please try again later.",
                  "error_code": "send_error"
                }
              }
            }
          }
        }
      }
    },
    "/templates": {
      "get": {
        "operationId": "listTemplates",
        "summary": "List Templates",
        "description": "Retrieve a paginated list of email templates for a project. If `project_id` is not provided, templates from the team's default project will be returned.",
        "tags": ["Templates"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "description": "Project ID to retrieve templates from. If not provided, uses the team's default project.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of results per page (1-100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of templates retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTemplatesResponse"
                },
                "example": {
                  "message": "Templates retrieved successfully.",
                  "data": {
                    "templates": [
                      {
                        "id": 1,
                        "name": "Welcome Email",
                        "slug": "welcome-email",
                        "project_id": 5,
                        "folder_id": 10,
                        "created_at": "2025-01-15T10:00:00+00:00",
                        "updated_at": "2025-01-20T14:30:00+00:00"
                      }
                    ],
                    "pagination": {
                      "total": 42,
                      "per_page": 25,
                      "current_page": 1,
                      "last_page": 2
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Project not found or no default project configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "project_not_found": {
                    "summary": "Project not found",
                    "value": {
                      "message": "Project with ID '123' was not found or you don't have access to it.",
                      "error_code": "not_found"
                    }
                  },
                  "no_default_project": {
                    "summary": "No default project configured",
                    "value": {
                      "message": "No default project is configured for this team.",
                      "error_code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "example": {
                  "message": "Validation failed.",
                  "error_code": "validation_error",
                  "errors": {
                    "project_id": ["The project_id parameter must be an integer."]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Failed to retrieve templates. Please try again later.",
                  "error_code": "send_error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createTemplate",
        "summary": "Create Template",
        "description": "Create a new email template with HTML or Topol editor JSON content. Automatically creates and publishes a template version with extracted merge tags.",
        "tags": ["Templates"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTemplateRequest"
              },
              "examples": {
                "with_json": {
                  "summary": "Create with Topol JSON",
                  "value": {
                    "name": "Welcome Email",
                    "json": "{\"tagName\":\"mj-container\",\"children\":[{\"tagName\":\"mj-text\",\"content\":\"Hello {{FIRST_NAME}}!\"}]}"
                  }
                },
                "with_html": {
                  "summary": "Create with custom HTML",
                  "value": {
                    "name": "Newsletter",
                    "html": "<html><body><p>Hello {{NAME}}, your order {{ORDER_ID}} is ready!</p></body></html>"
                  }
                },
                "with_project_and_folder": {
                  "summary": "Create in specific project and folder",
                  "value": {
                    "name": "Invoice Email",
                    "project_id": 5,
                    "folder_id": 10,
                    "html": "<html><body><p>Invoice for {{CUSTOMER_NAME}}</p></body></html>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Template created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTemplateResponse"
                },
                "example": {
                  "message": "Template created successfully.",
                  "data": {
                    "id": 123,
                    "name": "Welcome Email",
                    "slug": "welcome-email",
                    "project_id": 5,
                    "folder_id": 10,
                    "active_version": 1,
                    "merge_tags": [
                      {
                        "key": "FIRST_NAME",
                        "required": true
                      }
                    ],
                    "created_at": "2026-01-28T12:00:00+00:00"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Project or folder not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "project_not_found": {
                    "summary": "Project not found",
                    "value": {
                      "message": "Project with ID '123' was not found or you don't have access to it.",
                      "error_code": "not_found"
                    }
                  },
                  "no_default_project": {
                    "summary": "No default project configured",
                    "value": {
                      "message": "No default project is configured for this team.",
                      "error_code": "not_found"
                    }
                  },
                  "folder_not_found": {
                    "summary": "Folder not found",
                    "value": {
                      "message": "Folder with ID '456' was not found in the specified project.",
                      "error_code": "not_found"
                    }
                  },
                  "no_folders": {
                    "summary": "No folders in project",
                    "value": {
                      "message": "Project with ID '123' has no folders. Please create a folder first.",
                      "error_code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "name_required": {
                    "summary": "Name is required",
                    "value": {
                      "message": "Validation failed.",
                      "error_code": "validation_error",
                      "errors": {
                        "name": ["The name field is required."]
                      }
                    }
                  },
                  "no_content": {
                    "summary": "No content provided",
                    "value": {
                      "message": "Validation failed.",
                      "error_code": "validation_error",
                      "errors": {
                        "html": ["Either html or json content is required."]
                      }
                    }
                  },
                  "both_content": {
                    "summary": "Both html and json provided",
                    "value": {
                      "message": "Validation failed.",
                      "error_code": "validation_error",
                      "errors": {
                        "json": ["The json and html fields are mutually exclusive. Provide only one."]
                      }
                    }
                  },
                  "invalid_json": {
                    "summary": "Invalid JSON syntax",
                    "value": {
                      "message": "Validation failed.",
                      "error_code": "validation_error",
                      "errors": {
                        "json": ["The provided JSON is not valid."]
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Failed to create template. Please try again later.",
                  "error_code": "send_error"
                }
              }
            }
          }
        }
      }
    },
    "/templates/{slug}": {
      "get": {
        "operationId": "getTemplate",
        "summary": "Get Template",
        "description": "Retrieve a single email template by its slug. If `project_id` is not provided, the template will be looked up in the team's default project.",
        "tags": ["Templates"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "The template slug (URL-friendly identifier)",
            "schema": {
              "type": "string",
              "example": "welcome-email"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "Project ID to retrieve the template from. If not provided, uses the team's default project.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowTemplateResponse"
                },
                "example": {
                  "message": "Template retrieved successfully.",
                  "data": {
                    "id": 1,
                    "name": "Welcome Email",
                    "slug": "welcome-email",
                    "project_id": 5,
                    "folder_id": 10,
                    "active_version": 2,
                    "versions_count": 3,
                    "created_at": "2025-01-15T10:00:00+00:00",
                    "updated_at": "2025-01-20T14:30:00+00:00"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Template or project not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "template_not_found": {
                    "summary": "Template not found",
                    "value": {
                      "message": "Template with slug 'welcome-email' was not found.",
                      "error_code": "not_found"
                    }
                  },
                  "project_not_found": {
                    "summary": "Project not found",
                    "value": {
                      "message": "Project with ID '123' was not found or you don't have access to it.",
                      "error_code": "not_found"
                    }
                  },
                  "no_default_project": {
                    "summary": "No default project configured",
                    "value": {
                      "message": "No default project is configured for this team.",
                      "error_code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "example": {
                  "message": "Validation failed.",
                  "error_code": "validation_error",
                  "errors": {
                    "project_id": ["The project_id parameter must be an integer."]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Failed to retrieve template. Please try again later.",
                  "error_code": "send_error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTemplate",
        "summary": "Delete Template",
        "description": "Permanently delete an email template and all its versions. If `project_id` is not provided, the template will be looked up in the team's default project.",
        "tags": ["Templates"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "The template slug (URL-friendly identifier)",
            "schema": {
              "type": "string",
              "example": "welcome-email"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "Project ID to delete the template from. If not provided, uses the team's default project.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteTemplateResponse"
                },
                "example": {
                  "message": "Template deleted successfully."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Template or project not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "template_not_found": {
                    "summary": "Template not found",
                    "value": {
                      "message": "Template with slug 'welcome-email' was not found.",
                      "error_code": "not_found"
                    }
                  },
                  "project_not_found": {
                    "summary": "Project not found",
                    "value": {
                      "message": "Project with ID '123' was not found or you don't have access to it.",
                      "error_code": "not_found"
                    }
                  },
                  "no_default_project": {
                    "summary": "No default project configured",
                    "value": {
                      "message": "No default project is configured for this team.",
                      "error_code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "example": {
                  "message": "Validation failed.",
                  "error_code": "validation_error",
                  "errors": {
                    "project_id": ["The project_id parameter must be an integer."]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Failed to delete template. Please try again later.",
                  "error_code": "send_error"
                }
              }
            }
          }
        }
      }
    },
    "/templates/{slug}/merge-tags": {
      "get": {
        "operationId": "getTemplateMergeTags",
        "summary": "Get Template Merge Tags",
        "description": "Retrieve the merge tags (variables) for a template version. By default, returns merge tags for the active version. Use the `version` parameter to get merge tags for a specific version.",
        "tags": ["Templates"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "The template slug (URL-friendly identifier)",
            "schema": {
              "type": "string",
              "example": "welcome-email"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "Project ID to retrieve the template from. If not provided, uses the team's default project.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "Template version number. If not provided, uses the active version.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Merge tags retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMergeTagsResponse"
                },
                "example": {
                  "message": "Merge tags retrieved successfully.",
                  "data": {
                    "template_slug": "welcome-email",
                    "version": 2,
                    "merge_tags": [
                      {
                        "key": "first_name",
                        "required": true
                      },
                      {
                        "key": "company_name",
                        "required": false
                      },
                      {
                        "key": "order_items",
                        "required": false,
                        "children": [
                          {
                            "key": "item_name",
                            "type": "text"
                          },
                          {
                            "key": "item_quantity",
                            "type": "number"
                          },
                          {
                            "key": "item_price",
                            "type": "number"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Template, version, or project not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "template_not_found": {
                    "summary": "Template not found",
                    "value": {
                      "message": "Template with slug 'welcome-email' was not found.",
                      "error_code": "not_found"
                    }
                  },
                  "project_not_found": {
                    "summary": "Project not found",
                    "value": {
                      "message": "Project with ID '123' was not found or you don't have access to it.",
                      "error_code": "not_found"
                    }
                  },
                  "no_default_project": {
                    "summary": "No default project configured",
                    "value": {
                      "message": "No default project is configured for this team.",
                      "error_code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "example": {
                  "message": "Validation failed.",
                  "error_code": "validation_error",
                  "errors": {
                    "version": ["The version parameter must be an integer."]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Failed to retrieve merge tags. Please try again later.",
                  "error_code": "send_error"
                }
              }
            }
          }
        }
      }
    },
    "/domains/{domain}/verify": {
      "post": {
        "operationId": "verifyDomain",
        "summary": "Verify Domain",
        "description": "Verify a domain's DNS records (DKIM and CNAME) with SparkPost. This triggers a verification check and returns the current status of DNS records.",
        "tags": ["Domains"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The domain name to verify",
            "schema": {
              "type": "string",
              "example": "example.com"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain verification completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyDomainResponse"
                },
                "examples": {
                  "valid": {
                    "summary": "All DNS records valid",
                    "value": {
                      "message": "Domain verification completed.",
                      "data": {
                        "domain": "example.com",
                        "dkim_status": "valid",
                        "cname_status": "valid",
                        "ownership_verified": "true"
                      }
                    }
                  },
                  "unverified": {
                    "summary": "DNS records not configured",
                    "value": {
                      "message": "Domain verification completed.",
                      "data": {
                        "domain": "example.com",
                        "dkim_status": "unverified",
                        "cname_status": "unverified",
                        "ownership_verified": null,
                        "dns": {
                          "dkim_record": null,
                          "cname_record": null,
                          "dkim_error": "DKIM record not found",
                          "cname_error": "CNAME record not found"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Domain not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Domain not found.",
                  "error_code": "not_found"
                }
              }
            }
          },
          "422": {
            "description": "Validation error - Invalid domain format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "example": {
                  "message": "Validation failed.",
                  "error_code": "validation_error",
                  "errors": {
                    "domain": ["The domain must be a valid domain name (e.g., example.com)."]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error - Failed to verify domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Failed to verify domain. Please try again later.",
                  "error_code": "send_error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key for authentication"
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Unauthorized - Missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UnauthorizedResponse"
            },
            "examples": {
              "missing_key": {
                "summary": "Missing API key",
                "value": {
                  "message": "API key is required."
                }
              },
              "invalid_key": {
                "summary": "Invalid API key",
                "value": {
                  "message": "Invalid API key."
                }
              }
            }
          }
        }
      },
      "ServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "message": "An unexpected error occurred. Please try again later.",
              "error_code": "send_error"
            }
          }
        }
      }
    },
    "schemas": {
      "SendEmailRequest": {
        "type": "object",
        "description": "Email sending request. **Required:** `from`, `subject`, `to`, and at least one of `html`, `text`, or `template_slug`. When using `template_slug`, if `project_id` is not provided, the team's default project will be used.",
        "required": ["from", "subject", "to"],
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "maxLength": 255,
            "description": "Sender email address",
            "example": "sender@example.com"
          },
          "from_name": {
            "type": ["string", "null"],
            "maxLength": 255,
            "description": "Sender display name",
            "example": "Sender Name"
          },
          "subject": {
            "type": "string",
            "maxLength": 998,
            "description": "Email subject line",
            "example": "Welcome to Lettr"
          },
          "to": {
            "type": "array",
            "description": "Recipient email addresses",
            "minItems": 1,
            "maxItems": 50,
            "items": {
              "type": "string",
              "format": "email",
              "maxLength": 255
            },
            "example": ["recipient@example.com"]
          },
          "cc": {
            "type": "array",
            "description": "Carbon copy recipient email addresses",
            "items": {
              "type": "string",
              "format": "email",
              "maxLength": 255
            },
            "example": ["cc@example.com"]
          },
          "bcc": {
            "type": "array",
            "description": "Blind carbon copy recipient email addresses",
            "items": {
              "type": "string",
              "format": "email",
              "maxLength": 255
            },
            "example": ["bcc@example.com"]
          },
          "reply_to": {
            "type": ["string", "null"],
            "format": "email",
            "maxLength": 255,
            "description": "Reply-To email address",
            "example": "reply@example.com"
          },
          "reply_to_name": {
            "type": ["string", "null"],
            "maxLength": 255,
            "description": "Reply-To display name",
            "example": "Reply Name"
          },
          "html": {
            "type": ["string", "null"],
            "description": "HTML content of the email. At least one of `html` or `text` is required, but providing both is recommended for best compatibility across email clients.",
            "example": "<h1>Hello</h1><p>Welcome!</p>"
          },
          "text": {
            "type": ["string", "null"],
            "description": "Plain text content of the email. At least one of `html` or `text` is required, but providing both is recommended for best compatibility across email clients.",
            "example": "Hello\n\nWelcome!"
          },
          "amp_html": {
            "type": ["string", "null"],
            "description": "AMP HTML content for supported email clients"
          },
          "project_id": {
            "type": ["integer", "null"],
            "description": "Project ID containing the template. If not provided when using template_slug, the team's default project will be used.",
            "example": 123
          },
          "template_slug": {
            "type": ["string", "null"],
            "maxLength": 255,
            "description": "Template slug to use for email content. When provided, the template's HTML will be used instead of the html field.",
            "example": "welcome-email"
          },
          "template_version": {
            "type": ["integer", "null"],
            "minimum": 1,
            "description": "Specific template version to use. If not provided, the active version will be used.",
            "example": 1
          },
          "campaign_id": {
            "type": "string",
            "maxLength": 64,
            "description": "Campaign identifier for tracking and analytics",
            "example": "welcome-series-2024"
          },
          "metadata": {
            "type": "object",
            "description": "Custom metadata attached to the email for tracking purposes",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "user_id": "12345",
              "campaign": "onboarding"
            }
          },
          "substitution_data": {
            "type": "object",
            "description": "Variables for template substitution in email content",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "first_name": "John",
              "company": "Acme Inc"
            }
          },
          "options": {
            "type": "object",
            "description": "Email delivery options",
            "properties": {
              "click_tracking": {
                "type": "boolean",
                "description": "Enable click tracking for links in the email"
              },
              "open_tracking": {
                "type": "boolean",
                "description": "Enable open tracking via tracking pixel"
              },
              "transactional": {
                "type": "boolean",
                "description": "Mark email as transactional (not marketing)"
              },
              "inline_css": {
                "type": "boolean",
                "description": "Inline CSS styles in HTML content"
              },
              "perform_substitutions": {
                "type": "boolean",
                "description": "Perform variable substitutions in content"
              }
            }
          },
          "attachments": {
            "type": "array",
            "description": "File attachments. When provided, each attachment must include name, type, and data.",
            "items": {
              "$ref": "#/components/schemas/Attachment"
            }
          }
        }
      },
      "Attachment": {
        "type": "object",
        "description": "Email attachment",
        "required": ["name", "type", "data"],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255,
            "description": "Filename of the attachment",
            "example": "invoice.pdf"
          },
          "type": {
            "type": "string",
            "maxLength": 255,
            "description": "MIME type of the attachment",
            "example": "application/pdf"
          },
          "data": {
            "type": "string",
            "pattern": "^[A-Za-z0-9+/=]+$",
            "description": "Base64 encoded file content (no line breaks)",
            "example": "JVBERi0xLjQKJeLjz9MKMyAwIG9iago8PC9UeXBlL1BhZ2U..."
          }
        }
      },
      "SendEmailSuccessResponse": {
        "type": "object",
        "required": ["message", "data"],
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable success message",
            "example": "Email queued for delivery."
          },
          "data": {
            "type": "object",
            "required": ["request_id", "accepted", "rejected"],
            "properties": {
              "request_id": {
                "type": "string",
                "description": "Unique identifier for this email transmission",
                "example": "12345678901234567890"
              },
              "accepted": {
                "type": "integer",
                "minimum": 0,
                "description": "Number of recipients accepted for delivery",
                "example": 1
              },
              "rejected": {
                "type": "integer",
                "minimum": 0,
                "description": "Number of recipients rejected",
                "example": 0
              }
            }
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "required": ["message", "error_code", "errors"],
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable error message",
            "example": "Validation failed."
          },
          "error_code": {
            "type": "string",
            "description": "Error code (always `validation_error` for 422 responses)",
            "const": "validation_error",
            "example": "validation_error"
          },
          "errors": {
            "type": "object",
            "description": "Field-specific validation errors",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": {
              "from": ["The sender email address is required."],
              "to": ["At least one recipient email address is required."]
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["message", "error_code"],
        "description": "Error response for non-validation errors (400, 409, 500, 502).",
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable error message",
            "example": "The sender domain could not be determined from the email address."
          },
          "error_code": {
            "$ref": "#/components/schemas/ErrorCode"
          }
        }
      },
      "UnauthorizedResponse": {
        "type": "object",
        "required": ["message"],
        "description": "Error response for authentication failures (401).",
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable error message",
            "example": "API key is required."
          }
        }
      },
      "ErrorCode": {
        "type": "string",
        "description": "Error codes returned by the API.\n\n| Code | HTTP Status | Description |\n|------|-------------|-------------|\n| `validation_error` | 422 | Request validation failed. Check the `errors` object for field-specific messages. |\n| `invalid_domain` | 400 | The sender domain could not be determined from the email address. |\n| `unconfigured_domain` | 400 | The sender domain is not configured or approved for sending. |\n| `send_error` | 400, 500 | General error during email send preparation or domain registration. |\n| `transmission_failed` | 502 | Email transmission to the upstream provider failed. |\n| `resource_already_exists` | 409 | The resource (e.g., domain) already exists. |\n| `template_not_found` | 404 | The specified template, project, or template version was not found. |",
        "enum": ["validation_error", "invalid_domain", "unconfigured_domain", "send_error", "transmission_failed", "resource_already_exists", "template_not_found", "not_found"],
        "example": "invalid_domain"
      },
      "StoreDomainRequest": {
        "type": "object",
        "description": "Request to create a new sending domain",
        "required": ["domain"],
        "properties": {
          "domain": {
            "type": "string",
            "maxLength": 255,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(\\.[a-zA-Z]{2,})+$",
            "description": "The domain name to register (e.g., example.com)",
            "example": "example.com"
          }
        }
      },
      "StoreDomainResponse": {
        "type": "object",
        "description": "Response after successfully creating a domain",
        "required": ["message", "data"],
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable success message",
            "example": "Domain created successfully."
          },
          "data": {
            "$ref": "#/components/schemas/DomainView"
          }
        }
      },
      "DomainView": {
        "type": "object",
        "description": "View of a sending domain",
        "required": ["domain", "status", "status_label"],
        "properties": {
          "domain": {
            "type": "string",
            "description": "The domain name",
            "example": "example.com"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "approved", "blocked"],
            "description": "Current status of the domain",
            "example": "pending"
          },
          "status_label": {
            "type": "string",
            "description": "Human-readable status label",
            "example": "Pending Review"
          },
          "dkim": {
            "type": ["object", "null"],
            "description": "DKIM configuration for the domain",
            "properties": {
              "public": {
                "type": "string",
                "description": "Public DKIM key"
              },
              "selector": {
                "type": "string",
                "description": "DKIM selector"
              },
              "headers": {
                "type": "string",
                "description": "Headers to sign"
              }
            }
          }
        }
      },
      "ListDomainsResponse": {
        "type": "object",
        "description": "Response containing a list of domains",
        "required": ["message", "data"],
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable response message",
            "example": "Domains retrieved successfully."
          },
          "data": {
            "type": "object",
            "required": ["domains"],
            "properties": {
              "domains": {
                "type": "array",
                "description": "List of domains",
                "items": {
                  "$ref": "#/components/schemas/DomainListItemView"
                }
              }
            }
          }
        }
      },
      "DomainListItemView": {
        "type": "object",
        "description": "View of a domain in the list response",
        "required": ["domain", "status", "status_label", "can_send", "created_at", "updated_at"],
        "properties": {
          "domain": {
            "type": "string",
            "description": "The domain name",
            "example": "example.com"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "approved", "blocked"],
            "description": "Current status of the domain",
            "example": "approved"
          },
          "status_label": {
            "type": "string",
            "description": "Human-readable status label",
            "example": "Approved"
          },
          "can_send": {
            "type": "boolean",
            "description": "Whether the domain can be used for sending emails",
            "example": true
          },
          "cname_status": {
            "type": ["string", "null"],
            "description": "CNAME verification status",
            "example": "valid"
          },
          "dkim_status": {
            "type": ["string", "null"],
            "description": "DKIM verification status",
            "example": "valid"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the domain was created",
            "example": "2024-01-15T10:30:00+00:00"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the domain was last updated",
            "example": "2024-01-16T14:45:00+00:00"
          }
        }
      },
      "ShowDomainResponse": {
        "type": "object",
        "description": "Response containing a single domain with full details",
        "required": ["message", "data"],
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable response message",
            "example": "Domain retrieved successfully."
          },
          "data": {
            "$ref": "#/components/schemas/DomainDetailView"
          }
        }
      },
      "DomainDetailView": {
        "type": "object",
        "description": "Detailed view of a single domain",
        "required": ["domain", "status", "status_label", "can_send", "created_at", "updated_at"],
        "properties": {
          "domain": {
            "type": "string",
            "description": "The domain name",
            "example": "example.com"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "approved", "blocked"],
            "description": "Current status of the domain",
            "example": "approved"
          },
          "status_label": {
            "type": "string",
            "description": "Human-readable status label",
            "example": "Approved"
          },
          "can_send": {
            "type": "boolean",
            "description": "Whether the domain can be used for sending emails",
            "example": true
          },
          "cname_status": {
            "type": ["string", "null"],
            "description": "CNAME verification status",
            "example": "valid"
          },
          "dkim_status": {
            "type": ["string", "null"],
            "description": "DKIM verification status",
            "example": "valid"
          },
          "tracking_domain": {
            "type": ["string", "null"],
            "description": "Associated tracking domain for click/open tracking",
            "example": "tracking.example.com"
          },
          "dns": {
            "type": ["object", "null"],
            "description": "DNS records for domain verification",
            "properties": {
              "dkim": {
                "type": "object",
                "description": "DKIM DNS record details",
                "properties": {
                  "selector": {
                    "type": "string",
                    "description": "DKIM selector",
                    "example": "scph0123"
                  },
                  "public": {
                    "type": "string",
                    "description": "DKIM public key",
                    "example": "MIGfMA0GCSqGSIb3DQEBA..."
                  }
                }
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the domain was created",
            "example": "2024-01-15T10:30:00+00:00"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the domain was last updated",
            "example": "2024-01-16T14:45:00+00:00"
          }
        }
      },
      "VerifyDomainResponse": {
        "type": "object",
        "description": "Response containing domain verification results",
        "required": ["message", "data"],
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable response message",
            "example": "Domain verification completed."
          },
          "data": {
            "$ref": "#/components/schemas/DomainVerificationView"
          }
        }
      },
      "DomainVerificationView": {
        "type": "object",
        "description": "Domain verification status and DNS details",
        "required": ["domain", "dkim_status", "cname_status"],
        "properties": {
          "domain": {
            "type": "string",
            "description": "The domain name",
            "example": "example.com"
          },
          "dkim_status": {
            "type": "string",
            "description": "DKIM verification status",
            "enum": ["valid", "unverified", "invalid"],
            "example": "valid"
          },
          "cname_status": {
            "type": "string",
            "description": "CNAME verification status",
            "enum": ["valid", "unverified", "invalid"],
            "example": "valid"
          },
          "ownership_verified": {
            "type": ["string", "null"],
            "description": "Whether domain ownership has been verified",
            "example": "true"
          },
          "dns": {
            "$ref": "#/components/schemas/DomainDnsVerificationView"
          }
        }
      },
      "DomainDnsVerificationView": {
        "type": "object",
        "description": "DNS verification error details",
        "properties": {
          "dkim_record": {
            "type": ["string", "null"],
            "description": "Found DKIM record value",
            "example": null
          },
          "cname_record": {
            "type": ["string", "null"],
            "description": "Found CNAME record value",
            "example": null
          },
          "dkim_error": {
            "type": ["string", "null"],
            "description": "DKIM verification error message",
            "example": "DKIM record not found"
          },
          "cname_error": {
            "type": ["string", "null"],
            "description": "CNAME verification error message",
            "example": "CNAME record not found"
          }
        }
      },
      "ListEmailsResponse": {
        "type": "object",
        "description": "Response containing a list of sent emails",
        "required": ["message", "data"],
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable response message",
            "example": "Emails retrieved successfully."
          },
          "data": {
            "type": "object",
            "required": ["results", "total_count", "pagination"],
            "properties": {
              "results": {
                "type": "array",
                "description": "List of sent email events",
                "items": {
                  "$ref": "#/components/schemas/SentEmailView"
                }
              },
              "total_count": {
                "type": "integer",
                "minimum": 0,
                "description": "Total number of matching emails"
              },
              "pagination": {
                "type": "object",
                "properties": {
                  "next_cursor": {
                    "type": ["string", "null"],
                    "description": "Cursor for the next page of results"
                  },
                  "per_page": {
                    "type": "integer",
                    "description": "Number of results per page"
                  }
                }
              }
            }
          }
        }
      },
      "GetEmailResponse": {
        "type": "object",
        "description": "Response containing email details and events",
        "required": ["message", "data"],
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable response message",
            "example": "Email retrieved successfully."
          },
          "data": {
            "type": "object",
            "required": ["results", "total_count"],
            "properties": {
              "results": {
                "type": "array",
                "description": "List of events for this email transmission",
                "items": {
                  "$ref": "#/components/schemas/SentEmailDetailView"
                }
              },
              "total_count": {
                "type": "integer",
                "minimum": 0,
                "description": "Total number of events"
              }
            }
          }
        }
      },
      "SentEmailView": {
        "type": "object",
        "description": "Summary view of a sent email event",
        "properties": {
          "event_id": {
            "type": "string",
            "description": "Unique identifier for this event"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "When the event occurred"
          },
          "request_id": {
            "type": ["string", "null"],
            "description": "Transmission ID for this email"
          },
          "message_id": {
            "type": ["string", "null"],
            "description": "Message ID assigned by the email provider"
          },
          "subject": {
            "type": ["string", "null"],
            "description": "Email subject line"
          },
          "friendly_from": {
            "type": ["string", "null"],
            "description": "Sender address as displayed to recipient"
          },
          "sending_domain": {
            "type": ["string", "null"],
            "description": "Domain used for sending"
          },
          "rcpt_to": {
            "type": ["string", "null"],
            "description": "Recipient email address"
          },
          "raw_rcpt_to": {
            "type": ["string", "null"],
            "description": "Original recipient address"
          },
          "recipient_domain": {
            "type": ["string", "null"],
            "description": "Recipient's email domain"
          },
          "mailbox_provider": {
            "type": ["string", "null"],
            "description": "Recipient's email provider (e.g., gmail, outlook)"
          },
          "mailbox_provider_region": {
            "type": ["string", "null"],
            "description": "Geographic region of the mailbox provider"
          },
          "sending_ip": {
            "type": ["string", "null"],
            "description": "IP address used to send the email"
          },
          "click_tracking": {
            "type": ["boolean", "null"],
            "description": "Whether click tracking was enabled"
          },
          "open_tracking": {
            "type": ["boolean", "null"],
            "description": "Whether open tracking was enabled"
          },
          "transactional": {
            "type": ["boolean", "null"],
            "description": "Whether the email was marked as transactional"
          },
          "msg_size": {
            "type": ["integer", "null"],
            "description": "Size of the email in bytes"
          },
          "injection_time": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "When the email was injected into the system"
          },
          "rcpt_meta": {
            "type": ["object", "null"],
            "description": "Recipient-specific metadata",
            "additionalProperties": true
          }
        }
      },
      "SentEmailDetailView": {
        "type": "object",
        "description": "Detailed view of a sent email event, including event type and error information",
        "allOf": [
          {
            "$ref": "#/components/schemas/SentEmailView"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "Type of event (injection, delivery, bounce, open, click, etc.)",
                "enum": ["injection", "delivery", "bounce", "delay", "policy_rejection", "out_of_band", "open", "click", "spam_complaint", "unsubscribe", "list_unsubscribe", "link_unsubscribe"]
              },
              "reason": {
                "type": ["string", "null"],
                "description": "Human-readable reason for bounce or delay"
              },
              "raw_reason": {
                "type": ["string", "null"],
                "description": "Raw SMTP response code and message"
              },
              "error_code": {
                "type": ["string", "null"],
                "description": "SMTP error code (for bounces)"
              }
            }
          }
        ]
      },
      "ListWebhooksResponse": {
        "type": "object",
        "description": "Response containing a list of webhooks",
        "required": ["message", "data"],
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable response message",
            "example": "Webhooks retrieved successfully."
          },
          "data": {
            "type": "object",
            "required": ["webhooks"],
            "properties": {
              "webhooks": {
                "type": "array",
                "description": "List of webhooks",
                "items": {
                  "$ref": "#/components/schemas/WebhookView"
                }
              }
            }
          }
        }
      },
      "ShowWebhookResponse": {
        "type": "object",
        "description": "Response containing a single webhook",
        "required": ["message", "data"],
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable response message",
            "example": "Webhook retrieved successfully."
          },
          "data": {
            "$ref": "#/components/schemas/WebhookView"
          }
        }
      },
      "ListTemplatesResponse": {
        "type": "object",
        "description": "Response containing a paginated list of templates",
        "required": ["message", "data"],
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable response message",
            "example": "Templates retrieved successfully."
          },
          "data": {
            "type": "object",
            "required": ["templates", "pagination"],
            "properties": {
              "templates": {
                "type": "array",
                "description": "List of templates",
                "items": {
                  "$ref": "#/components/schemas/TemplateView"
                }
              },
              "pagination": {
                "$ref": "#/components/schemas/TemplatesPagination"
              }
            }
          }
        }
      },
      "TemplateView": {
        "type": "object",
        "description": "View of an email template",
        "required": ["id", "name", "slug", "project_id", "folder_id", "created_at", "updated_at"],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the template",
            "example": 1
          },
          "name": {
            "type": "string",
            "description": "Name of the template",
            "example": "Welcome Email"
          },
          "slug": {
            "type": "string",
            "description": "URL-friendly identifier for the template",
            "example": "welcome-email"
          },
          "project_id": {
            "type": "integer",
            "description": "ID of the project containing this template",
            "example": 5
          },
          "folder_id": {
            "type": "integer",
            "description": "ID of the folder containing this template",
            "example": 10
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the template was created",
            "example": "2025-01-15T10:00:00+00:00"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the template was last updated",
            "example": "2025-01-20T14:30:00+00:00"
          }
        }
      },
      "TemplatesPagination": {
        "type": "object",
        "description": "Pagination information for templates list",
        "required": ["total", "per_page", "current_page", "last_page"],
        "properties": {
          "total": {
            "type": "integer",
            "minimum": 0,
            "description": "Total number of templates",
            "example": 42
          },
          "per_page": {
            "type": "integer",
            "minimum": 1,
            "description": "Number of templates per page",
            "example": 25
          },
          "current_page": {
            "type": "integer",
            "minimum": 1,
            "description": "Current page number",
            "example": 1
          },
          "last_page": {
            "type": "integer",
            "minimum": 1,
            "description": "Last page number",
            "example": 2
          }
        }
      },
      "ShowTemplateResponse": {
        "type": "object",
        "description": "Response containing a single template with details",
        "required": ["message", "data"],
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable response message",
            "example": "Template retrieved successfully."
          },
          "data": {
[...]
